* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #012435;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.header .box {
  background: #16916c;
  padding: 20px;
  border-radius: 20px;
  color: #f4f4f4;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.header .box hr {
  border-top: 2px solid #01310b;
  margin: 3px;
}
.header .box input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 3px;
  height: 50px;
  padding: 3px;
  resize: vertical;
  border-color: rgba(207, 193, 245, 0.856);
  border-radius: 5px;
}
.header .box .qrcode {
  padding: 8px;
}
.header .box .sqrcode {
  padding: 3px;
  margin-left: 15px;
}
.header .box button {
  width: 100%;
  height: 35px;
  background: #1e7fb0;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
